{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    {% if pupil is not empty %}
    <div>
        <p>{{ pupil }} grades has been SAVED!</p>
    </div>
    {% endif %}
    <div>
        <h2>{{ title }}</h2>
        <table class="default">
            {% for gradeObj in grades %}
            <tr>
                <th>{{ gradeObj.getPupil.getName }}</th>
                <td>
                    {% for grade in gradeObj.getGrades %}
                        {{ grade }},
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('edit_subject_grades', { 
                            'subject_id': gradeObj.getSubject.getId,
                            'pupil_id': gradeObj.getPupil.getId
                        })
                    }}">Edit Grades</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
