{% extends 'base.html.twig' %}

{% block title %}Delete Class {{ class.getName }}{% endblock %}

{% block body %}
    {% if app.flashes('error') is defined %}
        <div>
            {% for flash in app.flashes('error') %}    
                {{ flash }}
            {% endfor %}
        </div>
    {% endif %}

    <div>
        Do You really want delete this Class?<br>
        <b>Class:</b> {{ class.getName }}<br>
        <b>Tutor this class:</b> {{ class.getTutor.getName }}<br>
    </div>

    <div>
    {{ form_start(form) }}
        {{ form_widget(form.delete) }}
        {{ form_widget(form.cancel) }}
    {{ form_end(form) }}
    </div>
{% endblock %}

